body {
    display: grid;
    grid-template-rows: 20vh 90vh;
    margin: 0;
}

#header {
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh 10vh;
    background-color: hsl(100, 50%, 80%);
}

#logo{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    height: 10vh;
}

#search {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: 10vh;
    grid-template-columns: 85% 15%;
    align-items: center;
}

#search input{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 3vh;
    padding: 1vh 0px;
}

#search button{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    font-size: 3vh;
    padding: 1vh 0px;
}

#profile-logo {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: right;
    height: 10vh;
}

#main {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: 100%;
}

#sidebar{
    display: none;
}

#content {
    grid-row: 1 / span 1;
    justify-self: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flag {
    grid-column: 1 / span 1;
    display: grid;
    margin: 5px 10px;
    border: solid;
}

.flag img {
    grid-row: 1 / span 1;
    height: 93%;
    width: 100%;
    object-fit: cover;
    border-bottom: solid;
}

.flag h1{
    font-size: 3vh;
    justify-self: center;
    margin: 0;
}

@media (min-width: 600px){
    #main {
        grid-template-columns: 15% 85%;
    }

    #sidebar{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        display: block;
    }

    #content{
        grid-column: 2 / span 1;

        display: flex;
        flex-wrap: wrap;
    }
}