@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    display: grid;
    grid-template-rows: 20vh 80vh;
    margin: 0;
    font-family: Nanum Gothic;
}

ul, li {
    margin-left: 0;
    padding-left: 0;
}

h3 {
    margin: 0;
}

#header {
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh 10vh;
    background-color: hsl(221, 39%, 27%);
    border-bottom: solid;
}

#logo{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    height: calc(10vh - 1px);
    width: 10vh;
    object-fit: cover;
}

#profile-logo {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    justify-self: right;
    height: calc(10vh - 1px);
}

#search {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-rows: 10vh;
    grid-template-columns: 85% 15%;
    align-items: center;
}

#search input{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 3vh;
    padding: 1vh 0px;
    margin: 0px 2px;
}

#search button{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    font-size: 3vh;
    padding: 1vh 0px;
    margin: 0px 2px;
}


#main {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: 100%;
}

#sidebar{
    display: none;
}

#content {
    grid-row: 1 / span 1;
    justify-self: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    overflow: auto;
}

.flag {
    grid-column: 1 / span 1;
    display: grid;
    margin: 5px 10px;
    border: solid;
    width: 300px;
}

.flag img {
    grid-row: 1 / span 1;
    height: 150px;
    width: 300px;
    object-fit: cover;
    border-bottom: solid;
}

.flag h1{
    font-size: 3vh;
    justify-self: center;
    margin: 0;
}

@media (min-width: 600px){

    body {
        grid-template-rows: 10vh 90vh;
    }

    #header {
        grid-template-rows: 10vh;
    }

    #search {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        margin: 0px 3vw;
    }

    #main {
        grid-template-columns: 15% 85%;
    }

    #sidebar{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        display: block;
        padding-left: 10%;
        padding-top: 20px;
        margin-top: 5px;
        background-color: hsl(0, 0%, 90%);
        border-top-right-radius: 5px;
    }

    #sidebar h3{
        font-size: 2vw;
        cursor: pointer;
    }

    #sidebar ul{
        list-style: none;
        margin: 0;
        font-size: 1.8vw;
        cursor: pointer;
    }

    #content{
        grid-column: 2 / span 1;

        display: flex;
        flex-wrap: wrap;
        height: 90vh;
    }
}